gui:
    scrollHeight: 4
    theme:
      lightTheme: false # For terminals with a light background
      activeBorderColor:
        - green
        - bold
      inactiveBorderColor:
        - yellow
      optionsTextColor:
        - blue
      selectedLineBgColor:
        - '#5490FF'
      selectedRangeBgColor:
        - blue

    animateExplosion: true
    language: en

git:
  localBranchSortOrder: recency  

autoFetch: false

refresher:
  refreshInterval: 5 # file/submodule refresh interval in seconds
  fetchInterval: 1800 # re-fetch interval in seconds

customCommands:
  - key: E
    description: 'Create empty commit'
    context: 'commits'
    command: 'git commit --allow-empty -m "{{ "{{index .PromptResponses 0}}" }}"'
  - key: X
    description: "Commits clipboard"
    commandMenu:
      - key: c
        command: 'git format-patch --stdout {{ "{{.SelectedCommitRange.From}}^..{{.SelectedCommitRange.To}}" }} | pbcopy'
        context: commits, subCommits
        description: "Copy selected commits to clipboard"
      - key: v
        command: 'pbpaste | git am'
        context: "commits"
        description: "Paste selected commits from clipboard"

notARepository: skip

# Private services from a local file (not in Git)
{{- with .lazygit.data_file }}
  {{- $path := joinPath $.chezmoi.homeDir (trimPrefix "~/" .) }}
  {{- $svc := include $path | fromYaml }}
services:
{{ toYaml $svc | indent 2 }}
{{- end }}

