gui:
    scrollHeight: 4
    theme:
      lightTheme: false # For terminals with a light background
      activeBorderColor:
        - green
        - bold
      inactiveBorderColor:
        - yellow
      optionsTextColor:
        - blue
      selectedLineBgColor:
        - '#5490FF'
      selectedRangeBgColor:
        - blue

    animateExplosion: true
    language: en

git:
  refresher:
    refreshInterval: 5 # file/submodule refresh interval in seconds
    fetchInterval: 1800 # re-fetch interval in seconds

notARepository: skip

# Private services from a local file (not in Git)
{{- with .lazygit.data_file }}
  {{- $path := joinPath $.chezmoi.homeDir (trimPrefix "~/" .) }}
  {{- $svc := include $path | fromYaml }}
services:
{{ toYaml $svc | indent 2 }}
{{- end }}

